$red: red;
$body: #000;
$fe-title: #222;
$title: #f1e4e6;
$border: rgba(241, 109, 127, 1);
$dark-overlay: rgba(0, 0, 0, 0.8);
$white-overlay: rgba(244, 244, 244, 0.7);
$bgcd: #ff0000;
$f-text: #fbfbfb;
